body {
    padding: 63px 100px 30px 100px;
    font-family: Roboto;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.page-title {
    text-align: center;
    font-size: 80px;
    display: flex;
    margin-bottom: 40px;
}

.page-title a{
    text-decoration: none;
    color: #000;
}

.page-title span {
    color: #4BCAFF;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 69px;
    max-width: 100%;
    background-color: #35444F;
    font-size: 24px;
}

.nav-list__item {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    border-left: 1px solid #FFF;
    height: 100%;
    align-items: center;
}

.nav-list__item a {
    text-decoration: none;
    color: #FFF;
}

.nav-list__item--last-item {
    border-right: 1px solid #FFF;
}

.nav-list__item:hover {
    background-color: rgba(34, 47, 58, 1);
}

.aside-nav-list {
    border: 1px solid rgba(0, 0, 0, 1);
    width: 344px;
}

.aside-nav-list__item {
    font-size: 27px;
    padding: 26px 0 26px 44px;
}

.aside-nav-list__item a {
    text-decoration: none;
    color: #485863;
}

.aside-nav-list__item:hover {
    background-color: #DBDBDB;
    padding-left: 70px;
}

.aside-nav-list__item:hover a {
    color: rgba(0, 0, 0, 1);
}

main {
    display: flex;
    justify-content: space-between;
    margin-top: 49px;
}

.main-section {
    width: 885px;
}

.main-section__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 885px;
    height: 529px;
    border: 1px solid rgba(0, 0, 0, 1);
    margin-bottom: 37px;
}

.main-section__img img {
    transition: 2s;
}

.main-section__img img:hover {
    transition: 2s;
    transform: scale(1.2);
}

.main-section__text {
    color: #2C2C2C;
    font-size: 18px;
    margin-top: 13px;
    color: #2C2C2C;
    line-height: 24px;
    /* 133.333% */
}

.nav-menu__list--item a {
    text-decoration: none;
    color: #0C1927;
    font-size: 28px;
}

.footer__nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    max-width: 100%;
    background: rgba(99, 105, 110, 0.48);
    font-size: 24px;
    margin-top: 54px;
    color: rgba(12, 25, 39, 1);
}

.nav-menu__list {
    width: 875px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 40px;
}

.footer__nav-menu span {
    color: rgba(12, 25, 39, 1);
    color: #010101;
    font-size: 24px;
    margin-right: 40px;
}

.nav-menu__list--item a:hover {
    color: #3181A6;
    text-decoration: underline;
    text-underline-offset: 13px;
}