.body {
    box-sizing: border-box;
    font-family: Montserrat;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header-wrapper {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line {
    margin-bottom: 80px;
    border-bottom: 1px solid #EBE8F4;
}

.title {
    text-decoration: none;
    color: #22202E;
    font-size: 24px;
    margin-right: 149px;
}

.nav-menu {
    display: inline-flex;
    align-items: flex-start;
    gap: 44px;
}

.nav-menu__item a {
    text-decoration: none;
    color: #726E8D;
    font-family: "Open Sans";
    font-size: 16px;
}

.usefull-links {
    display: flex;
    gap: 16px;
}

.usefull-links a {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 16px;
}

.usefull-links a:last-child {
    margin-right: 0;
}

.search a {
    background-image: url('../img/search.svg');
}

.shopping-cart a {
    background: url('../img/shopping--cart.svg');
}

.personal-account a {
    background-image: url('../img/user--avatar.svg');
}

.main-title {
    color: #2A254B;
    font-size: 36px;
    line-height: 140%;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
}

.sort-menu {
    width: 570px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort-menu__item:last-child {
    margin-right: 0;
}

select {
    appearance: none;
    background: url('../img/Caret--down.jpg') no-repeat right;
    background-size: 16px;
    border: none;
    color: #2A254B;
    font-family: "Open Sans";
    font-size: 16px;
}

.select-first {
    padding: 12px 24px;
}

.select-second {
    padding: 12px 24px;
}

.select-third {
    padding: 12px 24px;
}

.select-fourth {
    padding: 12px 24px;
}

.select-fifth {
    padding: 12px 24px;
}

.sorting-text {
    color: #2A254B;
    font-family: "Open Sans", sans-serif;
    ;
    font-size: 14px
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 48px 20px;
    margin-bottom: 40px;
}

.grid-card {
    text-decoration: none;
}

.grid-card img {
    width: 100%;
    margin-bottom: 24px;
}

.grid-card-name {
    color: #2A254B;
    font-size: 20px;
    margin-bottom: 8px;
}

.grid-card-price {
    color: #2A254B;
    font-family: "Open Sans";
    font-size: 18px;
}

.btn {
    text-decoration: none;
    width: 175px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #2A254B;
    font-family: "Open Sans";
    font-size: 16px;
    background: #F9F9F9;
    margin-bottom: 40px;
}

.join-club {
    display: flex;
    height: 521px;

}

.join-club__img {
    flex: 1;
    height: 521px;
    background-image: url(../img/join-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.join-club__content {
    flex: 1;
}

.container-small {
    width: 640px;
    box-sizing: border-box;
    padding-left: 49px;
    padding-top: 71px;
}

.join-club__content h2 {
    color: #2A254B;
    font-size: 32px;
    margin-bottom: 21px;
}

.join-club__content p {
    width: 470px;
    color: #2A254B;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 216px;
}

.join-club__content .btn {
    width: 120px;
    height: 56px;
    margin-left: 0;
    color: #fff;
    background: #2A254B;
    font-family: "Open Sans";
    font-size: 16px;
}

.footer {
    background: #2A254B;
    padding-top: 60px;
    font-family: "Open Sans";
    font-size: 14px;
    color: #FFF;
}

.footer__section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer__menu {
    display: flex;
    margin-bottom: 48px;
}

.footer__nav-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-right: 131px;
}

.footer__nav-menu:first-child {
    margin-right: 100px;
}

.footer__nav-menu:last-child {
    margin-right: 93px;
}
 
.footer__nav-menu--item a {
    text-decoration: none;
    color: #FFF;
    margin-bottom: 16px;
}

.footer__nav-menu--item:first-child {
    font-size: 16px;
}

.footer__nav-menu--item:last-child {
    margin-bottom: 0;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #4E4D93;
    ;
    padding-top: 22px;
}

.footer-links a {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 24px;
}

.footer-links a:last-child {
    margin-right: 0;
}

.linkedin {
    background: url(../img/logo--linkedin.svg) no-repeat;
    background-position: center;
}

.facebook {
    background: url(../img/logo--facebook.svg) no-repeat;
    background-position: center;
}

.instagram {
    background: url(../img/logo--instagram.svg) no-repeat;
    background-position: center;
}

.skype {
    background: url(../img/logo--skype.svg) no-repeat;
    background-position: center;
}

.twitter {
    background: url(../img/logo--twitter.svg) no-repeat;
    background-position: center;
}

.pinterest {
    background: url(../img/logo--pinterest.svg) no-repeat;
    background-position: center;
}