html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
  color: #000;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
  width: 100%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 10px 12px;
  width: max-content;
  border-radius: 4px;
  border: 2px solid #0F8277;
  color: #0F8277;
  font-size: 16px;
  font-weight: 700;
  display: flex;
}

.btn-green {
  width: max-content;
  font-size: 16px;
  border: none;
  background: #0F8277;
  color: #EEE;
}

.section-title {
  padding: 12px 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
}

.section-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
}

.modify-text {
  color: #0F8277;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
}

.more-link {
  color: #0F8277;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 83px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.more-link::after {
  content: "";
  background-image: url(../images/arrow-right.svg);
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-left: 16px;
}

.topic {
  color: #0F8277;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
}