.business-section__grid {
    padding-bottom: 70px;
}

.business-section__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.business-section__aside {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 32px;
    width: 636px;
}

.business-section__aside--text {
    width: 568px;
    font-size: 22px;
    font-weight: 600;
    line-height: 120%;
}

.business-section__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 136px;
}

.business-section__grid--item {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
}

.business-section__grid--item:nth-child(3n) {
    border-right: none;
}

.business-section__grid--item:nth-last-child(-n+3) {
    border-bottom: none;
}