.contact-us-section {
    background-image: url(../images/students/contac-form.jpeg);
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 727px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-us-section__title {
    margin-bottom: 0;
    text-align: center;
}

.contact-us-section__content {
    width: 565px;
    padding: 30px;
    border-radius: 24px;
    background: #DBF3ED;
}

.photos-section__subtitle {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 24px;
}

.photos-section__search-form {
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.photos-section__message-input {
    line-height: 104px;
}

.photos-section__message-input placeholder {
    line-height: 100px;
}

.photos-section__search-form input {
    padding: 12px;
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid #0F8277;
}

.photos-section__search-form input[type="text"]::placeholder {
    position: absolute;
    top: 12px;
    left: 12px;
}

.photos-section__search-button {
    width: 196px;
    padding: 10px 12px;
    border-radius: 4px;
}