.cooperate-section {
    height: 382px;
    background: #DBF3ED;
    padding: 80px 36px;
    max-width: 1368px;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 80px;
    width: 1368px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cooperate-section__title {
    margin-bottom: 60px;
    width: 871px;
    text-align: center;
}

.cooperate-section__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cooperate-section__links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}