

.courses-section__subtitle {
     margin-bottom: 40px;
 }

.courses-section__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-bottom: 40px;
}

 .courses-section__card {
    width: 306px;
 }

 .courses-section__card-title {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 12px;
 }

 .courses-section__card--description {
    height: 210px;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
 }

 .courses-section__card--program-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 16px;
 }

 .courses-section__title--company-name {
    color: #000;
     line-height: 120%;
 }

 .courses-section__card--company-decription {
     color: #000;
     font-size: 24px;
     font-weight: 700;
     line-height: 120%;
 }

 .courses-section__card--footer {
     display: flex;
     align-items: center;
     justify-content: start;
 }

 .courses-section__card--footer-img {
     margin-right: 12px;
 }

 .courses-section__card--footer-text {
     color: #0F8277;
     font-weight: 500;
     line-height: 120%;
 }

 .courses-section__link {
    display: flex;
    align-items: center;
    justify-content: center;
 }