.footer-section {
  padding: 64px 36px;
}

.footer-section__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.footer__logo {
  width: 306px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__logo--title {
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.64px;
}

.footer__logo--text {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}

.footer-right {
  width: 306px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.footer-right__links-list {
  display: flex;
  align-items: center;
  justify-content: end;
  list-style: none;
  gap: 24px;
}

.footer-right__text {
  text-align: right;
  font-weight: 500;
  line-height: 120%;
}

.footer-right__links-list--item.instagram::before {
  content: "";
  display: block;
  background-image: url(../images/instagram.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}

.footer-right__links-list--item.facebook::before {
  content: "";
  display: block;
  background-image: url(../images/facebook.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}

.footer-right__links-list--item.linkedin::before {
  content: "";
  display: block;
  background-image: url(../images/linkedin.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}