.header {
  padding: 30px 0 43px;
}

.header__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-aside {
  display: flex;
  align-items: center;
  gap: 44px;
}

.header__logo {
  color: #000;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.64px;
}

.header__btn {
  position: relative;
  cursor: pointer;
}

.header__btn::after {
  content: "";
  background-image: url(../images/down-arrow.png);
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  position: relative;
  left: 4px;
  bottom: 3px;
}

.header__search-form {
  width: 330px;
  position: relative;
}

.header__input {
  width: 100%;
  height: 36px;
  border-radius: 4px;
  border: 1px solid #5C5C5C;
  padding-left: 15px;
}

.header__search-button {
  height: 36px;
  width: 36px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: 0;
}

.header__search-button:before {
  content: "";
  background-image: url(../images/Group.svg);
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
}

.header__links-section {
  display: flex;
  align-items: center;
}

.header__links-section--link {
  color: #000;
  font-weight: 500;
  line-height: 120%;
  margin-right: 104px;
}

.header__links-section--link:first-child {
  margin-right: 48px;
}

.header__links-section--link.btn {
  margin-right: 16px;
  border: 0;
  color: #0F8277;
  font-weight: 700;
}