.learn-comfortably-section {
    margin-bottom: 68px;
}

.learn__content {
    padding: 0 50px 0 110px;
    border-radius: 12px;
    background: rgba(219, 243, 237, 1);
    height: 602px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.learn__wrapper {
    width: 512px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 32px;
}

.learn__title {
    font-size: 56px;
}

.learn__text {
    padding-right: 10px;
    font-size: 22px;
    font-weight: 600;
    color: #000;
    line-height: 120%;
}

.learn__buttons {
    display: flex;
    gap: 24px;
}