.photos-section {
    margin-bottom: 77px;
}

.photos-section__title {
    margin-bottom: 40px;
    text-align: center;
}

.photos-section__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 210px;
    gap: 24px;
}

.photos-section__grid--item:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}