.plans-section {
    padding: 80px 36px 100px;
    background: #DBF3ED;
    margin-bottom: 80px;
    max-width: 1368px;
    margin: 0 auto;
}

.plans-section__title {
    margin-bottom: 40px;
    text-align: center;
}

.plans-section__content {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 24px;
}

.plans-section__card {
    padding: 56px;
    border-radius: 24px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
    width: 416px;
    height: 698px;
}

.plans-section__card:hover {
    color: #FFF;
    background: #0F8277;
}

.plans-section__card:hover.plans-section__card hr{
    background-color: #FFF;
}

.plans-section__card:hover .plans-section__card--btn {
     border: 2px solid #FFF;
}

.plans-section__card:hover .plans-section__card-footer--item::before {
    background-image: url(../images/Vector_down_green.svg);
    background-color: #FFF;
}

.plans-section__card hr {
    width: 100%;
    height: 2px;
    background-color: #0F8277;
    margin-bottom: 48px;
}

.plans-section__card-main-part {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
    height: 286px;
}

.plans-section__card--header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 27px;
}

.plans-section__card-main-part:last-child {
    margin-top: 70px;
}

.plans-section__card--title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
}

.plans-section__card--text {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}

.plans-section__card--price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.plans-section__card--price span {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
}

.plans-section__card--price p {
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
}

.plans-section__card-footer-list {
    list-style: none;
}

.plans-section__card-footer--item {
    font-weight: 500;
    line-height: 120%;
    position: relative;
    display: flex;
    align-items: start;
    margin-bottom: 16px;
    padding-left: 31px;
}

.plans-section__card-footer--item::before {
    content: "";
    background-image: url(../images/Vector_down_white.svg);
    border-radius: 500px;
    background-color: #0F8277;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0;
    top: 0;
}