.programs-section {
    margin-bottom: 80px;
}

.programs-section__subtitle {
    margin-bottom: 40px;
}

.programs-section__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.programs-section__card {
    height: 480px;
    border-radius: 8px;
    border: 1px solid #DADADA;
}

.programs-section__card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.programs-section__card--description {
    height: 210px;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.programs-section__card--program-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 16px;
}

.programs-section__title--company-name {
    color: #000;
    line-height: 120%;
}

.programs-section__card--company-decription {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
}

.programs-section__card--footer {
    display: flex;
    align-items: center;
    justify-content: start;
}

.programs-section__card--footer-img {
    margin-right: 12px;
}

.programs-section__card--footer-text {
    color: #0F8277;
    font-weight: 500;
    line-height: 120%;
}