.topics-section__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.topics-section__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 32px;
}

.topics-section__list--item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;

    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
}

.topics-section__list--item h6 {
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
}

.topics-section__list--item a {
    color: #0F8277;
}

.topics-section__list--item p {
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

.topics-section__link {
    display: flex;
    align-items: center;
    justify-content: center;
 }