body {
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;

    .container {
        width: 1296px;
        margin: 0 auto;
    }

    a{
        text-decoration: none;
    }

    .btn {
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
        cursor: pointer;
    }
}





