.footer {
    box-sizing: border-box;
    height: 88px;
    padding-left: 52px;
    padding-right: 52px;
    background:#4C394E;
    display: flex;
    justify-content: space-between;
    align-items: center;
}