.header {
    position: sticky;
    top: 0;
    z-index: 1;

    &__blue {
        background-color: #10BBD5;
        height: 40px;
        padding: 16px 52px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo-book {
        display: flex;
        align-items: center;

        & a {
            color: #F8FDFE;
            font-family: Cabin;
            font-size: 24px
        }
        
        & img {
            margin-right: 4px;
        }
        
        & span {
            font-weight: 700;
        }
    }

    &__cart-price {
        margin-right: 8px;
    }

    &__cart-btn {
        position: relative;
        width: 34px;
        height: 32px;
        background-image: url(../images/cart_icon.png);
        background-position: center;
        background-repeat: no-repeat;
    }

    &__cart-item-count {
        color: black;
        right: 8px;
        bottom: 10px;
        position: absolute;
        z-index: 1;
    }

    &__cart-section {
        display: flex;
        align-items: center;
        position: relative;

        & a {
            text-decoration: none;
        }
        
        
        &--cart-item-count {
            position: absolute;
            top: 5px;
            left: 14px;
        }
    }

    &__white {
      height: 24px;
      padding: 4px 52px;
      background: #FFF;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #000;
    }

    &__btns-list {
    display: flex;
    justify-content: center;
    align-items: center;

    &--item {
        margin-right: 40px;

        a {
            text-decoration: none;
            color: #000;
        }

        &:last-child {
            margin-right: 0;
        }
    }
  }
}





