.main {
    padding-left: 52px;
    padding-right: 52px;
    padding-top: 36px;
    padding-bottom: 120px;
    background: #EEEEEF;    

    &__title {
        color: #1F1F1F;
        font-size: 32px;
        font-weight: 600;
        border-bottom: 1px solid #A8A8A8;
        padding-bottom: 23px;
        margin-bottom: 24px;
    }

    &-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-rows: 512px;
        gap: 32px 24px;
    }
}

.card {
    border: 1px solid #A8A8A8;
    display: flex;
    flex-direction: column;
    padding: 31px;

    & a {
        text-decoration: none;
        color: #1F1F1F;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__wrapper {
        width: 242px;
        position: relative;
        display: flex;
        justify-content: center;
    }

    &__img {
        width: 178px;
        margin-bottom: 16px;
    }

    & &__title {
        height: 31px;
        width: 241px;
        border-bottom: 1px solid #A8A8A8;
        color: #1F1F1F;
        font-size: 20px;
        font-weight: 700;
    }

    &__author {
        color: #8E8E8E;
        padding-top: 10px;
        margin-bottom: 8px;
    }

    &__price--item {
        color: #E90000;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        margin-right: 16px;
    }

    &__price-section {
        display: flex;
        margin-bottom: 16px;

        .old-price {
            color: #8E8E8E;
            font-size: 24px;
            font-weight: 500;
            line-height: 32px;
            text-decoration-line: line-through;
        }
        
    }

    &__label-list {
        display: flex;
        position: absolute;
        left: 0;
        top: 0;

        &--item {
            box-sizing: border-box;
            min-width: 36px;
            padding-left: 8px;
            padding-right: 8px;
            height: 32px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #F8FDFE;
            text-align: center; 
            margin-right: 4px;            
        }
        
        .label-new {
            background: #AF39E7;
        }
        
        .card__label--hit {
            background: #4200FF;
        }
        
        .label-sale {
            background: #EA33C0;
        }
    }

    &__btn.btn{
        height: 40px;
        border-radius: 4px;
        background: #4C394E;

        &.end-up {
            border-radius: 4px;
            background: #4D762D;
        }
    }
}

.chat-btn {
    border: 0;
    border-radius: 34px;
    width: 64px;
    height: 64px;
    background-image: url(../images/chat_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #10BBD5;
    position: fixed;
    right: 75px;
    bottom: 40px;
}