.container {
    margin: 0 auto;
    max-width: 1060px;
    width: 100%;
    
    @media screen and (min-width: $tablet) and (max-width: $desktop) {
        padding: 0 34px;
    }

    @media screen and (min-width: $mobile) and (max-width: $tablet) {
        padding: 0 17px;
    }
}

a {
    text-decoration: none;
}