.footer {
    background: #202020;
    height: 530px;
    width: 100%;
    padding: 78px 0 30px;

    @media screen and (min-width: $tablet) and (max-width: $desktop) {
        height: 408px;
        padding: 96px 27px 35px;
    }
    @media screen and (min-width: $mobile) and (max-width: $tablet) {
        height: 342px;
        padding: 53px 17px 40px;
    }

    &__wrapper {
        display: flex;
        justify-content: center;
    }

    &__btn {
        border: 1px solid #f2f2f2;
        border-radius: 139px;
        padding: 42px 137px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 45px;
        margin-bottom: 163px;

        @media screen and (min-width: $tablet) and (max-width: $desktop) {
            margin-bottom: 60px;
            padding: 21px 37px;
        }
        @media screen and (min-width: $mobile) and (max-width: $tablet) {
            margin-bottom: 113px;
            padding: 12px 8px;
            gap: 15px;
        }

        img {
            @media screen and (min-width: $mobile) and (max-width: $tablet) {
                height: 50px;
                width: 50px;
            }
        }

        &-title {
            color: #fff;
            font-family: $font-dyna;
            font-size: 48px;
            font-weight: 700;
            margin-bottom: 17px;

            @media screen and (min-width: $mobile) and (max-width: $tablet) {
                font-size: 20px;
                margin-bottom: 4px;
            }
        }

        &-text {
            color: #fff;
            font-family: $font-manrope;
            font-size: 24px;
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 24px;

            @media screen and (min-width: $mobile) and (max-width: $tablet) {
                font-size: 15px;
            }

            img {
                @media screen and (min-width: $mobile) and (max-width: $tablet) {
                    width: 32px;
                    height: 15px;
                }
            }
        }
    }

    .media-links__list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 34px;
        margin-bottom: 21px;

        &--item {
            width: 24px;
            height: 24px;
        }
    }

    .copyright {
        display: flex;
        justify-content: center;
        color: #fff;
        font-family: $font-manrope;
        font-weight: 500;

        @media screen and (min-width: $mobile) and (max-width: $tablet) {
            font-size: 14px;
        }
    }
}
