.header {
    display: flex;
    align-items: center;
    height: 92px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;

    &__burger-menu {
        width: 56px;
        height: 56px;
        display: none;

        @media screen and (min-width: $tablet) and (max-width: $desktop) {
            display: block;
        }
    
        @media screen and (min-width: $mobile) and (max-width: $tablet) {
            display: block;
        }
    }

    @media screen and (min-width: $tablet) and (max-width: $desktop) {
        
    }

    @media screen and (min-width: $mobile) and (max-width: $tablet) {
       
    }

    &__nav-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @media screen and (min-width: $desktop) {
    }

    &__logo {
        content: url("../images/svg/Hope.svg");
    }

    &__list-item {
        height: 42px;
        display: flex;
        align-items: center;
        padding-right: 16px;
        padding-left: 16px;
        width: max-content;
        border-radius: 20px;
        border: 1px solid #fff;
        font-family: $font-manrope;
        color: #fff;
        font-weight: 700;
    }

    &__nav-list {
        display: flex;
        gap: 20px;

        

        @media screen and (min-width: $tablet) and (max-width: $desktop) {
            display: none;
        }

        @media screen and (min-width: $mobile) and (max-width: $tablet) {
            display: none;
        }
    }
}

.header__list-item--wand {
    &::before {
        content: url("../images/svg/fi-rr-magic-wand.svg");
        margin-right: 12px;
    }
}

.header__list-item--document {
    &::before {
        content: url("../images/svg/fi-rr-document.svg");
        margin-right: 12px;
    }
}

.header__list-item--flower {
    &::before {
        content: url("../images/svg/fi-rr-flower-tulip.svg");
        margin-right: 12px;
    }
}

.header__list-item--heart {
    &::before {
        content: url("../images/svg/fi-rr-comment-heart.svg");
        margin-right: 12px;
    }
}
