.creativity-section {
    background: linear-gradient(253deg, #ffee32 -13.48%, #d6d6d6 125.48%);
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 119px;

    &__discription {
        color: #fff;
        font-family: $font-dyna;
        font-size: 80px;
        font-weight: 700;

        @media screen and (min-width: $mobile) and (max-width: $tablet) {
            font-size: 45px;
        }
    }
}

.meet-alex {
    display: flex;
    align-items: center;
    width: 100%;
    height: 470px;
    background: #202020;
    overflow: hidden;
    position: relative;

    &::after {
        content: "";
        background-image: url(../images/svg/Group\ 3.svg);
        background-position: center;
        background-repeat: no-repeat;
        width: 400px;
        height: 410px;
        position: absolute;
        right: 0;

        @media screen and (min-width: $tablet) and (max-width: $desktop) {
            right: -165px;
        }

        @media screen and (min-width: $mobile) and (max-width: $tablet) {
            right: -140px;
            background-image: url(../images/svg/Group_small.svg);
        }
    }

    &__wrapper {
        width: 540px;
    }

    &__title {
        color: #faeb49;
        font-family: $font-dyna;
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 40px;

        @media screen and (min-width: $mobile) and (max-width: $tablet) {
            max-width: 342px;
            font-size: 40px;
        }
    }

    &__text {
        color: #fff;
        font-family: $font-manrope;
        font-weight: 500;
        margin-bottom: 40px;

        @media screen and (min-width: $mobile) and (max-width: $tablet) {
            max-width: 228px;
            font-size: 15px;
        }
    }

    &__statistics {
        display: flex;
        gap: 96px;

        @media screen and (min-width: $mobile) and (max-width: $tablet) {
            gap: 14px;
        }

        &--text {
            font-size: 16px;

            @media screen and (min-width: $mobile) and (max-width: $tablet) {
                font-size: 14px;
                width: 60px;
            }
        }
    }

    &__statistics--item {
        color: #fff;
        font-family: $font-dyna;
        font-size: 48px;
        font-weight: 700;

        @media screen and (min-width: $mobile) and (max-width: $tablet) {
            font-size: 36px;
        }
    }
}

.cart-section {
    display: flex;
    align-items: center;
    height: 1460px;
    background: #3c3c3c;
    line-height: normal;

    @media screen and (min-width: $tablet) and (max-width: $desktop) {
        height: 1590px;
        padding: 86px 30px;
    }

    @media screen and (min-width: $mobile) and (max-width: $tablet) {
        height: 100%;
        padding: 52px 0 85px 0;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 63px 40px;

        @media screen and (min-width: $tablet) and (max-width: $desktop) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 102px 40px;
        }

        @media screen and (min-width: $mobile) and (max-width: $tablet) {
            display: flex;
            flex-direction: column;
            gap: 63px;
        }
    }
}

.cart {
    display: flex;
    padding: 20px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 24px;
    background: #fffef2;
    position: relative;

    @media screen and (min-width: $tablet) and (max-width: $desktop) {
        &--tablet-hiden {
            display: none;
        }
    }
    @media screen and (min-width: $mobile) and (max-width: $tablet) {
        &--tablet-hiden {
            display: none;
        }
        &--mobile-hiden {
            display: none;
        }
    }
    .first-img {
        height: 100%;
    }

    &__img {
        width: 100%;
        margin-bottom: 20px;
        height: 320px;

        @media screen and (min-width: $tablet) and (max-width: $desktop) {
        }
        @media screen and (min-width: $mobile) and (max-width: $tablet) {
        }
    }

    &__title {
        color: #565656;
        font-family: $font-dyna;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 22px;

        @media screen and (min-width: $mobile) and (max-width: $tablet) {
            font-size: 32px;
        }
    }

    &__description {
        color: #000;
        font-family: $font-manrope;
        font-weight: 500;

        @media screen and (min-width: $mobile) and (max-width: $tablet) {
            font-size: 15px;
        }
    }

    &:first-child {
        grid-column: 1/4;
        padding: 24px 20px;

        @media screen and (min-width: $tablet) and (max-width: $desktop) {
            grid-column: 1/3;
        }
        @media screen and (min-width: $mobile) and (max-width: $tablet) {
            grid-column: 1;
        }

        img {
            @media screen and (min-width: $mobile) and (max-width: $tablet) {
                height: 278px;
            }
        }

        p {
            max-width: 580px;
            width: 100%;
            font-weight: 700;
        }
    }

    &__icon {
        width: 56px;
        height: 56px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../images/svg/fi-rr-arrow-up.svg);
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        right: 40px;
        top: 44px;
        border: none;
        border-radius: 100px;

        @media screen and (min-width: $tablet) and (max-width: $desktop) {
            right: 30px;
            top: 30px;
        }
        @media screen and (min-width: $mobile) and (max-width: $tablet) {
            right: 30px;
            top: 30px;
        }
    }
}

.graphics-design {
    height: 100%;
    padding: 82px 25px 120px;
    display: flex;
    align-items: center;
    background: #202020;

    @media screen and (min-width: $mobile) and (max-width: $tablet) {
        height: 100%;
        padding: 58px 16px 93px;
    }

    &__title {
        color: #fff;
        font-family: $font-dyna;
        font-size: 80px;
        font-weight: 700;
        margin-bottom: 38px;

        @media screen and (min-width: $mobile) and (max-width: $tablet) {
            font-size: 36px;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 26px;

        @media screen and (min-width: $mobile) and (max-width: $tablet) {
            grid-template-columns: 1fr;
            grid-auto-rows: 325px;
            gap: 25px;
        }

        img {
            border-radius: 45px;
            width: 100%;
            max-height: 414px;
            height: 100%;
        }

        &--item-star {
            grid-column: 1/3;
            position: relative;

            @media screen and (min-width: $mobile) and (max-width: $tablet) {
                grid-column: 1;
            }

            &::before {
                content: "";
                background-image: url(../images/svg/Soft\ Star.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                max-width: 268px;
                width: 75%;
                max-height: 268px;
                height: 75%;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &--item-butterfly {
            position: relative;
            &::before {
                content: "";
                background-image: url(../images/svg/Butterfly.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                width: 75%;
                height: 75%;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &--item-asterisk {
            position: relative;
            &::before {
                content: "";
                background-image: url(../images/svg/Asterisk.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                width: 75%;
                height: 75%;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.section-slogan {
    height: 800px;
    background-image: url(../images/Rectangle.jpg);
    width: 100%;
    padding: 0 16px;
    display: flex;

    @media screen and (min-width: $mobile) and (max-width: $tablet) {
        height: 498px;
    }

    &__content {
        display: flex;
        align-items: center;
    }

    &__text {
        text-align: center;
        color: #fff;
        font-family: $font-dyna;
        font-size: 48px;
        font-weight: 700;

        @media screen and (min-width: $mobile) and (max-width: $tablet) {
            font-size: 24px;
        }
    }
}
