body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
}

html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1364px;
  margin: 0 auto;
  width: 100%;
}

.header {
  padding: 18px 80px;
}

.header-main {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__section-logo {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  transition: 0.3s;
}

.header__section-logo:hover {
  color: #01813f;
  opacity: 0.41;
}

.header__icon-link {
  padding-right: 27px;
}

.header__section-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__section-item svg {
  transition: 0.3s;
  fill: white;
}

.header__section-item svg:hover {
  fill: #01813f;
  opacity: 0.41;
}

.header__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #ffffffe5;
  height: 19px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  padding-left: 27px;
}

.btns {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  transition: 0.3s;
  padding: 0 5px;
}

.btns:hover {
  color: #01813f;
  opacity: 0.41;
}

.sign-in {
  background-image: url("../images/fon.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.section__form {
  display: flex;
  width: 100%;
  height: 100%;
}

.section__form-modal {
  max-width: 444px;
  width: 100%;
  background-color: #fff;
  margin: auto;
  position: relative;
  padding: 30px 60px;
  margin-top: 112px;
  margin-bottom: 72px;
}

.section__form-text {
  color: #434343;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}

.pseudo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 17px;
  color: #848484;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.pseudo::before,
.pseudo::after {
  content: "";
  display: block;
  flex-grow: 1;
  background-color: #f2f2f2;
  height: 1px;
}

.pseudo::before {
  margin-right: 10px;
}

.pseudo::after {
  margin-left: 10px;
}

.cube {
  position: absolute;
  top: 31px;
  left: 0;
  width: 18px;
  height: 18px;
  background-color: #3cb878;
}

.section__form-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
}

.section__form-link {
  color: #3cb878;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  transition: 0.3s;
}

.section__form-link:hover {
  color: #01813f;
  text-decoration: underline;
}

.form-section label {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 12px;
}

.form-section button {
  width: 100%;
  padding: 16px 0;
  background-color: #3cb878cc;
  border-radius: 4px;
  margin-top: 20px;
  border: none;
  color: #ffffff;
  transition: 0.3s;
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.form-section button:hover {
  background-color: #01813f;
}

.form-section input {
  width: 100%;
  height: 44px;
  padding: 16px 20px;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  transition: 0.3s;
}

.form-section input:focus {
  outline: none;
  border-color: #f2f2f2;
}

.form-section input:hover {
  box-shadow: 0 5px 5px #4343433d;
}

.form-section input::placeholder {
  color: #bebebe;
}

.social-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 40px;
}

.social-button {
  padding: 11px 20px 11px 10px;
  text-decoration: none;
  border-radius: 3px;
  display: flex;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
}

.social-button span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 18px;
  border-left: 1px solid #0a162f1f;
  height: 28px;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.blu-bg {
  background-color: #305db8;
  transition: 0.3s;
}

.blu-bg:hover {
  background-color: #022263;
}

.red-bg {
  background-color: #df4a32;
  transition: 0.3s;
}

.red-bg:hover {
  background-color: #ab1f09;
}

.social-button img {
  max-width: 30px;
  margin-right: 13px;
  flex-shrink: 0;
}

.real-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  vertical-align: sub;
  margin-right: 5px;
}

.custom-checkbox::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 13.5px;
  background-image: url("../images/checkmark.svg");
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  margin-top: 1px;
  margin-left: 1px;
  transition: 0.2s ease-in;
}

.real-checkbox:checked+.custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}

.custom-checkbox_text {
  color: #3cb878;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  transition: 0.3s;
}

.custom-checkbox_item {
  color: #434343;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  padding-right: 5px;
}

.custom-checkbox_text:hover {
  color: #01813f;
  border-bottom: 1px solid #01813f;
}

.input-with-icon {
  position: relative;
  width: 100%;
}

.input-with-icon img {
  background-color: green;
  padding: 5px;
  width: 40px;
  position: absolute;
  right: 10px;
  top: 7px;
}